/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #2d2f31;
  cursor: pointer;
}

.explore {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  color: #2d2f31;
}

/* Search Box */
.search-box {
  flex: 1;
  margin: 0 20px;
}

.search-box input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 15px;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-section a {
  text-decoration: none;
  font-size: 15px;
  color: #2d2f31;
}
.login{
    border: 1px solid #7F00FF;
     padding: 8px 14px;
     border-radius: 5px;
     font-weight: bold ;
     
     
}

.signup {
  border: 1px solid #7F00FF;
  background-color: #9c5ed9;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
  
  
}

.cart {
  font-size: 500px;
}
.lang{
    border: 1px solid #7F00FF;
    padding: 8px 14px;
    border-radius: 5px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 90%;         /* poora width le */
  height: 100%;        /* screen ka 80% height */
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 80%;   /* fixed height hata de */
}



/* Each slide image */
.slide img {
  width: 100%;         /* poore container ki width lega */
  height: 80%;        /* apni natural height maintain karega */
  object-fit: content; /* bilkul crop nahi hoga */
}


/* Buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  user-select: none;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  z-index: 10;
}

.next { right: 20px; }
.prev { left: 20px; }

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}

/* Fade effect */
.fade {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: .4}
  to {opacity: 1}
}

